<div id="login">
<%= stylesheet_link_tag    "login" %>
<br>
<div id="app_heading">Login Page</div><br><br><br>
<table id="logindetails" align="center">
<FORM ACTION="user">
<%=form_tag('/user')%>
<tr>
<td>Email Id</td>
<td><%=text_field_tag 'user_name',nil%></td>
</tr>
<tr>
<td>Password</td>
<td><%=password_field_tag 'password',nil%></td>
</tr>
<tr>
<td></td>

<td><%=submit_tag 'Log In'%></td>



</table>
</div>
